@media only screen and (max-width: 950px) {
    .intro-banner {
        height: 410px;

        .drop {
            top: 110px;
        }

        h1 {
            top: 165px;
            .font-size(55);

            &:before {
                width: 180px;
                top: -34px;
            }

            &:after {
                width: 180px;
                top: -34px;
            }
        }

        h2 {
            top: 200px;
            .font-size(16);

            &:before {
                width: 128px;
                top: 14px;
                margin-right: 91px;
            }

            &:after {
                width: 128px;
                top: 14px;
                margin-left: 91px;
            }
        }
    }
}
