@media only screen and (max-width: 1300px) {
    .container {
        width: 90%;
        min-width: 300px;
    }

    .intro-banner {
        height: 640px;

        .drop {
            top: 220px;
        }

        h1 {
            top: 270px;
            .font-size(70);

            &:before {
                width: 291px;
                top: -34px;
            }

            &:after {
                width: 291px;
                top: -34px;
            }
        }

        h2 {
            top: 330px;
            .font-size(16);
            line-height: 1.8;

            &:before {
                width: 228px;
                top: 14px;
                margin-right: 102px;
            }

            &:after {
                width: 228px;
                top: 14px;
                margin-left: 102px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }

    .breakout .container {
        width: 90%;
    }

    #river-container {
        display: none;
    }

    .row-fluid  {
        margin: 0 auto;
    }


    .row-fluid .span7 {
        margin: 0 auto;
        float: none;
        margin: 0 auto;
        width: 90%;
    }


    .row-fluid [class*="offset"]:first-child {
        margin: 0 auto;
        float: none;
        width: 90%;
    }


    #content-container section#environment .span8 {
      margin-left: 0;
    }
}

@media only screen and (max-width: 830px) {

    .intro-banner {
        h1 {
            .font-size(60);

            &:before {
                width: 180px;
                top: -34px;
            }

            &:after {
                width: 180px;
                top: -34px;
            }
        }

        h2 {
            top: 324px;
            line-height: 1.8;

            &:before {
                width: 118px;
                top: 14px;
                margin-right: 102px;
            }

            &:after {
                width: 118px;
                top: 14px;
                margin-left: 102px;
            }
        }
    }

    #introduction {
        h1 {
            .font-size(35);
            line-height: 1.1;
            margin: 15px 0;
        }
    }

    .row-fluid [class*="span"] {
        margin: 0 auto;
        float: none;
        width: 90%;
    }
}

@media only screen and (max-width: 710px) {
    .navbar-fixed-top {
        position: relative;
    }

    p {
        padding: 0;
        &.left {
            width: inherit;
            float: none;
            }
    }

    .intro-banner {
        height: 360px;
        margin-top: 0;
        .drop {
            top: 85px;
        }

        h1 {
            top:135px;
            .font-size(50);

            span {
                display: block;
            }

            &:before {
                width: 100px;
            }

            &:after {
                width: 100px;
            }
        }

        h2 {
            top:225px;

            &:before {
                width: 36px;
            }

            &:after {
                width: 36px;
            }
        }
    }
    #content-container {
        h1 span {
            .font-size(12);
        }
        .leadin {
            .font-size(14);
        }
    }

    p {
        .font-size(14);
    }

    h2.strikeout {
        .font-size(18);
    }

    #content-container h1,
    #content-container section#environment h1 {
            .font-size(26);
    }
    #fragile > div h3 {
            .font-size(16);
    }

    #evaporation {
    height: 270px;

        h3 {

            &.left {
                .font-size(14);
                bottom:200px;
                left: 0;
            }

            &.right {
                .font-size(14);
                bottom:200px;
                right: 0;
            }
        }
    }

    #and-its-big > div {
        height: auto;

        .info {
            position: relative;
            top: 0;
            display: block;
            width: auto;
        }

        .map {
            position: relative;
            left: 0;
            top: 0;
            margin: 0 auto;
        }
    }

    #milk {
        #coffee-chart {
           margin: 0 auto;
        }
    }
    #laser-levelling-illustration {
        #image {
                    }
        p {
            width:30%;
            margin-right: 2%;
        }
    }
    section.breakout {
        .row-fluid [class*="span"] {
            width: 100%;
        }
    }
}


@media only screen and (max-width: 320px) {
    #length-graph-container .length {
        .font-size(18);
    }
}
